
p {
	text-align: center; }

body {
	text-align:center;
}


.img1 {
	text-align: center;
	padding: 20px;
	border: 5px;
}

.img2 {
	
	background-position: right;
	margin-left: 60%;
	padding: 20px;
}

.img3 {
	background-position: left;
	margin-right: 70%;
	padding: 20px;
}

h2 {

	color: black;
	font-size: 24;
	font-family: sans-serif;
	text-align: center;

}

h4 {

	font-style: bold;
}